{% extends "base/admin_base.html" %}
{% block add_head %}
    <title>管理后台 - XLWebServices</title>
{% endblock %}

{% block page_content %}
    <div class="container max-w-screen-lg mx-auto bg-white p-16 rounded-lg shadow-md py-6 my-4">
        <div class="flex flex-col space-y-6 px-4">
            <!-- 服务状态部分 -->
            <div class="w-full">
                <div class="flex items-center justify-between mb-6">
                    <div class="flex items-center space-x-2">
                        <h1 class="text-2xl font-bold">XLWeb 服务状态:</h1>
                        <span class="text-green-500 font-bold text-xl">running</span>
                    </div>
                </div>
                <div class="flex flex-col space-y-4 lg:space-y-0 lg:flex-row justify-between mb-6">
                    <div class="flex flex-wrap gap-2">
                        <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" onclick="window.location.href='{{ url_for('front_admin_index') }}'">刷新状态</button>
                        <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" onclick="window.location.href='{{ url_for('front_admin_download_logs') }}'">下载日志</button>
                        <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" onclick="window.location.href='{{ url_for('front_admin_stg_code') }}'">查看Stg Code</button>
                    </div>
                    <div class="flex flex-wrap gap-2">
                        <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600" onclick="stop_XLWebServices()">关闭服务</button>
                        <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" onclick="window.location.href='{{ url_for('front_admin_restart') }}'">重启服务</button>
                        <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" onclick="window.location.href='{{ url_for('front_admin_update') }}'">更新服务</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="space-y-4">
                <div class="flex items-center mb-4">
                    <div class="w-2 h-6 bg-blue-600 mr-3"></div>
                    <h2 class="text-xl font-bold text-gray-800">刷新擦车</h2>
                </div>
                {% include "base/flush_cache.html" %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function stop_XLWebServices() {
            // 利用系统API弹窗确认，关闭后无法通过web开启
            if (confirm("确定要关闭XLWebServices服务吗？\n关闭后无法通过web开启")) {
                window.location.href = "{{ url_for('front_admin_stop') }}";
            }
        }
    </script>
{% endblock %}